<div *ngIf="spinner" class="spinner-container">
    <span class="loader"></span>
</div>
<div class="main">
    <h3 *ngIf="!createrUserMenu">ADMINISTRACIÓN DE USUARIOS</h3>
    <div class="button-container">
        <div class="left-buttons">
          <button class="btn-habilitar" *ngIf="!createrUserMenu" (click)="showCreateUserMenu()">
            REGISTRAR NUEVO USUARIO
          </button>
          <button class="btn-habilitar" style="margin-top: 5%;" *ngIf="createrUserMenu && !formEspecialista" (click)="showUserList()">
            VOLVER AL LISTADO DE USUARIOS
          </button>
        </div>
        <div class="right-buttons">
          <button class="btn-habilitar" *ngIf="!createrUserMenu" (click)="descargarExcel()">
            DESCARGAR LISTADO COMPLETO
          </button>
        </div>
      </div>
    <div class="card-container" *ngIf="!createrUserMenu"
        style="display: flex; align-items: center;justify-content: center;">
        <div *ngFor="let user of usersList">
            <div class="card">
                <div class="card-content">
                    <img class="img-perfil" src="{{ user?.fotos[0] }}" alt="imagen" />
                    <span style="text-transform: upperCase; font-weight: bolder">{{ user.apellido }}, {{ user.nombre }}</span>
                    <div class="card-button">
                        <div *ngIf="user.hasOwnProperty('especialidad')">
                            <button class="btn btn-success" *ngIf="!user.habilitado" (click)="updateUser(user, 1)">
                                Habilitar
                            </button>
                            <button class="btn btn-danger" *ngIf="user.habilitado" (click)="updateUser(user, 2)">
                                Deshabilitar
                            </button>
                        </div>
                        <div *ngIf="user.hasOwnProperty('obraSocial')">
                            <div *ngIf="user.historialesClinicos?.length>0" >
                                <button data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" class="btn btn-info" (click)="verHistorialClinico(user)">
                                    Ver historial clínico
                                </button>
                                <button (click)="verTurnosUsuario(user)" class="btn btn-warning" style="margin-left: 1px;">
                                    Descargar 
                                </button>
                            </div>
                            <p *ngIf="user.historialesClinicos?.length==0">No hay historial clínico</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="tabla-usuario" *ngIf="!createrUserMenu">

        <table class="table">
            <thead>
                <tr>
                    <th scope="col" style="color: #000;">PERFIL</th>
                    <th scope="col" style="color: #000;">NOMBRE</th>
                    <th scope="col" style="color: #000;">APELLIDO</th>
                    <th scope="col" style="color: #000;">ACCIÓN</th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr-tabla" *ngFor="let user of usersList">

                    <td *ngIf="user.hasOwnProperty('especialidad')" style="text-transform: upperCase">
                        <span>Especialista</span>
                    </td>
                    <td *ngIf="user.hasOwnProperty('obraSocial')" style="text-transform: upperCase">
                        <span>Paciente</span>
                    </td>
                    <td *ngIf="!user.hasOwnProperty('obraSocial') && !user.hasOwnProperty('especialidad')"
                        style="text-transform: upperCase">
                        <span>Administrador</span>
                    </td>
                    <td>
                        <span>{{ user.nombre }}</span>
                    </td>
                    <td>
                        <span>{{ user.apellido }}</span>
                    </td>
                    <td>
                        <div *ngIf="user.hasOwnProperty('especialidad')">
                            <button class="btn-habilitar" *ngIf="!user.habilitado" (click)="updateUser(user, 1)">
                                Habilitar
                            </button>
                            <button class="btn-deshabilitar" *ngIf="user.habilitado" (click)="updateUser(user, 2)">
                                Deshabilitar
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </div> -->


</div>
<div class="modal fade modal-xl" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="display: flex; justify-content: space-between;">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <p style="text-align: right; font-size: 1rem">
                        {{ fechaActual }}
                    </p>
                    <div *ngFor="let historial of historialClinico" class="carta-historial">
                        <div style="display: flex;align-items: center;justify-content: center;">
                            <img class="img-perfil" src="{{ historial?.paciente?.fotos[0] }}" alt="imagen"/>
                        </div>
                        <h1 style="text-align: center; font-size: 2rem">
                            HISTORIAL CLÍNICO DE
                            <span style="text-transform: uppercase; font-weight: bolder">{{
                                historial?.paciente?.apellido }} {{
                                historial?.paciente?.nombre
                                }}</span>
                        </h1>
                        <br>
                        <h3>
                            INFORME DE
                            <span style="text-transform: uppercase">{{
                                historial?.especialidad
                                }}: </span>
                            <b>{{ (historial?.fecha.seconds * 1000) | date: 'dd/MM/yyyy HH:mm' }}</b>
                            <br>
                            <br>
                            ESPECIALISTA:
                            <span style="text-transform: uppercase; font-weight: bolder">{{ historial?.especialista?.apellido }},
                                {{ historial?.especialista?.nombre }}</span>
                        </h3>
                        <hr />
                        <div style="background-color: #83bf9b; padding: 2%;">
                            <p><span style="text-transform: uppercase; font-weight: bolder">Detalle: </span></p>
                            <p>Altura: {{ historial?.detalle?.altura }} mts</p>
                            <p>Peso: {{ historial?.detalle?.peso }} kg</p>
                            <p>Temperatura: {{ historial?.detalle?.temperatura }} °C</p>
                            <p>Presión: {{ historial?.detalle?.presion }}</p>
                            <p><span>Detalles adicionales: </span></p>
                            <p *ngIf="historial?.detalleAdicional?.clave1">
                                {{ historial?.detalleAdicional?.clave1 }}:
                                {{ historial?.detalleAdicional?.valor1 }}
                            </p>
                            <p *ngIf="historial?.detalleAdicional?.clave2">
                                {{ historial?.detalleAdicional?.clave2 }}:
                                {{ historial?.detalleAdicional?.valor2 }}
                            </p>
                            <p *ngIf="historial?.detalleAdicional?.clave3">
                                {{ historial?.detalleAdicional?.clave3 }}:
                                {{ historial?.detalleAdicional?.valor3 }}
                            </p>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="opcion-registros row" *ngIf="
      !formPaciente && !formEspecialista && !formAdministrador && createrUserMenu
    ">
    <div class="col" (click)="goToFormPaciente()">
        <div style="box-shadow: 0px 0px 15px #0000008b;">
            <h2>Paciente</h2>
            <img src="/assets/usuarios/personas.png" alt="imagen paciente" />
        </div>
    </div>
    <div class="col" (click)="goToFormEspecialista()">
        <div style="box-shadow: 0px 0px 15px #0000008b;">
            <h2>Especialista</h2>
            <img src="/assets/usuarios/medicos.png" alt="imagen especialista" />
        </div>
    </div>
    <div class="col" (click)="goToFormAdministrador()">
        <div style="box-shadow: 0px 0px 15px #0000008b;">
            <h2>Administrador</h2>
            <img src="/assets/usuarios/admin.png" alt="imagen administrador" />
        </div>
    </div>
</div>

<div class="registro-paciente" *ngIf="formPaciente">
    <button *ngIf="formPaciente" class="btn-volver" style="margin-left: 10%;" (click)="goToRegistro()">
        VOLVER
    </button>
    <app-registro [dondeEsta]="dondeEsta"></app-registro>
</div>
<div class="registro-especialista" *ngIf="formEspecialista">
    <button class="btn-volver2" style="margin-left: 10%;" (click)="goToRegistro()">
        VOLVER
    </button>
    <div style="margin-left: 15%;">
        <app-registro-especialista [dondeEsta]="dondeEsta"></app-registro-especialista>
    </div>
</div>
<div class="registro-especialista" *ngIf="formAdministrador">
    <button *ngIf="formAdministrador" class="btn-volver" style="margin-left: 10%;" (click)="goToRegistro()">
        VOLVER
    </button>
    <app-registro-especialista [dondeEsta]="dondeEsta" [admin]="true"></app-registro-especialista>
</div>